*.o
/datfile/*.dat
/rootfile/*.root
/dat2root
rootfile/hoge.cpp
rootfile/teidenADC2.pdf
rootfile/teidenADC4.pdf
rootfile/teidenADC17.pdf
rootfile/teidenADC21.pdf
rootfile/teidenADC22.pdf
rootfile/teidenADC26.pdf
rootfile/teidenADC27.pdf
rootfile/teidenADC29.pdf
rootfile/teidenADC30.pdf
.vscode/c_cpp_properties.json
.vscode/settings.json
.vscode/.ropeproject/config.py
.vscode/.ropeproject/objectdb
makehist
convertDat2Root
